In [1]:
a = set([1, 3, 5])
b = set([5, 6])
a.union(b)
{1, 3, 5, 6}
a.intersection(b)
{5}

{5}

In [11]:
ironhack = {'Caio', 'Celia', 'Fernanda', 'Gabriel', 'Henrique', 'Juliana', 'Lucas C', 'Lucas W', 'Manu',
            'Mariana Z', 'Marianna M', 'Marina', 'Meire', 'Nath', 'Pablo', 'Rafael', 'Raiana', 'Rodney',
            'Rogerio', 'Tiago', 'Beatriz', 'Eric', 'Gabriela', 'Marco', 'Constance'}

segundo_andar = {'Caio', 'Celia', 'Gabriel', 'Henrique', 'Fernanda', 'Lucas C', 'Lucas W', 'Mariana Z',
                 'Marianna M', 'Marina', 'Meire', 'Pablo', 'Rafael', 'Rodney', 'Juliana', 'Raiana', 'Rogerio',
                 'Manu', 'Nath', 'Tiago'}

estudantes = {'Caio', 'Celia', 'Gabriel', 'Henrique', 'Fernanda', 'Lucas C', 'Lucas W', 'Mariana Z',
              'Marianna M', 'Marina', 'Meire', 'Pablo', 'Rafael', 'Rodney', 'Beatriz', 'Eric',
              'Gabriela', 'Marco'}

tas = {'Juliana', 'Raiana', 'Rogerio', 'Constance', 'Paulo Freire'}

mulheres = {'Celia', 'Fernanda', 'Mariana Z', 'Marianna M', 'Marina', 'Meire', 'Juliana', 'Raiana',
            'Manu', 'Nath', 'Beatriz', 'Gabriela', 'Constance', 'Bela Gil', 'Lady Gaga', 'Ludmilla'}

homens = {'Caio', 'Gabriel', 'Henrique', 'Lucas C', 'Lucas W', 'Pablo', 'Rafael', 'Rodney', 'Rogerio',
          'Tiago', 'Eric', 'Marco', 'Paulo Freire', 'Drauzio Varella', 'Faust√£o'}

In [10]:
estudantes.intersection(mulheres)

{'Beatriz',
 'Celia',
 'Fernanda',
 'Gabriela',
 'Mariana Z',
 'Marianna M',
 'Marina',
 'Meire'}

In [12]:
meninas_segundo = segundo_andar.intersection(mulheres)

In [13]:
meninas_segundo

{'Celia',
 'Fernanda',
 'Juliana',
 'Manu',
 'Mariana Z',
 'Marianna M',
 'Marina',
 'Meire',
 'Nath',
 'Raiana'}

In [14]:
alunas_segundo = meninas_segundo.intersection(estudantes)

In [15]:
alunas_segundo

{'Celia', 'Fernanda', 'Mariana Z', 'Marianna M', 'Marina', 'Meire'}

In [16]:
#se eu quiser criar uma turma com 5 meninas e 5 meninos
alunos = estudantes.intersection(homens)
alunas = estudantes.intersection(mulheres)

In [21]:
alunos

{'Caio',
 'Eric',
 'Gabriel',
 'Henrique',
 'Lucas C',
 'Lucas W',
 'Marco',
 'Pablo',
 'Rafael',
 'Rodney'}

In [22]:
alunas

{'Beatriz',
 'Celia',
 'Fernanda',
 'Gabriela',
 'Mariana Z',
 'Marianna M',
 'Marina',
 'Meire'}

In [20]:
[len(alunos), len(alunas)]

[10, 8]

In [19]:
10*8

80

In [25]:
#uma turma com 10 estudantes e 1 ta
#quantas combinacoes possiveis
estudantes

{'Beatriz',
 'Caio',
 'Celia',
 'Eric',
 'Fernanda',
 'Gabriel',
 'Gabriela',
 'Henrique',
 'Lucas C',
 'Lucas W',
 'Marco',
 'Mariana Z',
 'Marianna M',
 'Marina',
 'Meire',
 'Pablo',
 'Rafael',
 'Rodney'}

In [26]:
tas

{'Constance', 'Juliana', 'Paulo Freire', 'Raiana', 'Rogerio'}

In [27]:
[len(estudantes), len(tas)]

[18, 5]

In [28]:
18*5

90

In [29]:
18*17*16*15*14*13*12*11*10*9

158789030400