In [ ]:
print('Hello Jupyter!')

In [ ]:
name = input("Enter your name: ")
print("Hello", name)

In [ ]:
print("Pablo")

In [ ]:
name

In [1]:
print("Hello World")

Hello World

In [2]:
prnt("Hello World")

NameError: name 'prnt' is not defined

In [3]:
6 + 4

10

In [4]:
100 - 80

20

In [5]:
9 * 8

72

In [6]:
200 / 24

8.333333333333334

In [7]:
8**4

4096

In [8]:
#test
9 * 8

72

In [9]:
"""
These

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-9-5fdb317a99aa>, line 2)

In [10]:
"""

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-10-e4615a684824>, line 1)

In [11]:
"""
These
are
the 
days
"""
print("hello")

hello

In [12]:
type("Palmeiras")

str

In [13]:
type("123")

str

In [14]:
Type(123)

NameError: name 'Type' is not defined

In [15]:
type(123)

int

In [16]:
type(98.6)

float

In [17]:
"Hello " + "everyone!"

'Hello everyone!'

In [18]:
"Hello " * 8

'Hello Hello Hello Hello Hello Hello Hello Hello '

In [19]:
str(586)

'586'

In [20]:
float(137)

137.0

In [21]:
int(596.89)

596

In [22]:
int("42")

42

In [23]:
int("42.97")

ValueError: invalid literal for int() with base 10: '42.97'

In [24]:
int(float("42.97"))

42

In [25]:
x = 4
y = 5
x + y

9

In [26]:
z = x + y
print(z)

9

In [27]:
z * y

45

In [28]:
dogs = 40
cats = 25
rabbits = 10

shelter_lenght = 30
shelter_width = 25

total_animals = dogs + cats + rabbits

In [33]:
caes = 40
gatos = 25
coelhos = 10

comprimento_abrigo = 30
largura_abrigo = 25

total_de_animais = caes + gatos + coelhos
area = comprimento_abrigo * largura_abrigo

print("numero total de animais:", total_de_animais)

numero total de animais: 75

In [35]:
print("Total do abrigo em metros quadrados:", area)

Total do abrigo em metros quadrados: 750

In [36]:
print("Metros quadrados por animal:", area/total_de_animais)

Metros quadrados por animal: 10.0

In [39]:
first_name = input("Enter your first name: ")
Enter your first name: Pablo
    
print("Hello,", first_name)

SyntaxError: invalid syntax (<ipython-input-39-58843e264fb5>, line 2)

In [41]:
first_name = input("Enter your first name: ")
Enter your first name: Pablo
    
print("Hello,", first_name)

SyntaxError: invalid syntax (<ipython-input-41-1bf53693ad75>, line 2)

In [42]:
caes = int(input("Enter the number of dogs: "))

Enter the number of dogs: 30

In [44]:
gatos = int(input("Enter the number of cats: "))

Enter the number of cats: 50

In [45]:
coelhos = int(input("Enter the number of rabbits: "))

Enter the number of rabbits: 0

In [46]:
comprimento_abrigo = int(input("Enter the shelter lenght: "))

Enter the shelter lenght: 40

In [47]:
largura_abrigo = int(input("Enter the shelter width: " ))

Enter the shelter width: 20

In [50]:
total_animals = caes + gatos + coelhos
sqft = comprimento_abrigo * largura_abrigo

print("Total number of animals:", total_animals)

Total number of animals: 80

In [51]:
print("Total shelter square feet:", sqft)

Total shelter square feet: 800

In [52]:
print("Square feet per animal:", sqft/total_animals)

Square feet per animal: 10.0

In [53]:
len("palmeiras")

9

In [58]:
word = "palmeiras"
word[8]

's'

In [59]:
len("Pablo")

5

In [60]:
word[2]

'l'

In [66]:
len("Pablo")
word[3]

'm'

In [67]:
word = "Pablo"
word[2]

'b'

In [68]:
word[-1]

'o'

In [69]:
word = "palmeiras"

In [70]:
word[:4]

'palm'

In [71]:
word[4:]

'eiras'

In [72]:
word[3:8]

'meira'

In [73]:
lst = ['the', 'man', 'who', 'sold', 'the', 'world']
lst[0]

'the'

In [74]:
lst[1]

'man'

In [75]:
lst[-1]

'world'

In [76]:
lst[2:4]

['who', 'sold']

In [77]:
lst[3:5]

['sold', 'the']

In [78]:
lst.append('bowie')
lst

['the', 'man', 'who', 'sold', 'the', 'world', 'bowie']

In [87]:
lst.remove('man')
lst

['who', 'world']

In [88]:
lst2 = ['belle', 'and', 'sebastian']
comb_list = lst + lst2
comb_list

['who', 'world', 'belle', 'and', 'sebastian']

In [89]:
nested = [['a', 'man'], ['a', 'plan'], ['a', 'canal'], ['Panama', '!']]
nested[0]

['a', 'man']

In [90]:
nested[0][0]

'a'

In [91]:
nested[0][1]

'man'

In [92]:
nested[-1][0]

'Panama'

In [93]:
num_list = [4, 8, 16, 22, 42]
#sum
sum(num_list)

92

In [94]:
#mean
sum(num_list)/len(num_list)

18.4

In [95]:
#minimum
min(num_list)

4

In [97]:
#maximum
max(num_list)

42

In [99]:
#sort ascending
num_list.sort()
num_list

[4, 8, 16, 22, 42]

#sort descending
num_list.sort()
num_list

In [100]:
#sort descending
num_list.sort(reverse=True)
num_list

[42, 22, 16, 8, 4]

In [101]:
#reversing
num_list.reverse()
num_list

[4, 8, 16, 22, 42]

In [102]:
ages = {'Pablo':23, 'Lais':22, 'Evie':20, 'Marcella':18}

In [105]:
ages['Pablo']

TypeError: list indices must be integers or slices, not str

In [106]:
ages = {'Pablo':23, 'Lais':22, 'Evie':20, 'Marcella':18}

In [108]:
ages['Pablo']

23

In [109]:
ages['Lais']

22

In [110]:
ages.keys()

dict_keys(['Pablo', 'Lais', 'Evie', 'Marcella'])

In [111]:
ages.values()

dict_values([23, 22, 20, 18])

In [113]:
ages['Vanessa'] = 25
ages

{'Pablo': 23, 'Lais': 22, 'Evie': 20, 'Marcella': 18, 'Vanessa': 25}

In [115]:
del ages['Vanessa']

KeyError: 'Vanessa'

In [116]:
ages.keys()

dict_keys(['Pablo', 'Lais', 'Evie', 'Marcella'])

In [118]:
ages['Vanessa'] = 25

In [119]:
ages.keys()

dict_keys(['Pablo', 'Lais', 'Evie', 'Marcella', 'Vanessa'])

In [120]:
ages

{'Pablo': 23, 'Lais': 22, 'Evie': 20, 'Marcella': 18, 'Vanessa': 25}

In [121]:
a = [1,2,3,4,5]
b = (1,2,3,4,5)

In [122]:
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [123]:
b.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [124]:
a.remove(2)
a

[1, 3, 4, 5, 6]

In [125]:
b.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'

In [126]:
a.sort()
a

[1, 3, 4, 5, 6]

In [127]:
b.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [128]:
tuple(a)

(1, 3, 4, 5, 6)

In [129]:
list(b)

[1, 2, 3, 4, 5]

In [130]:
dupe_list = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
uniques = set(dupe_list)
uniques

{1, 2, 3, 4, 5}

In [131]:
list(uniques)

[1, 2, 3, 4, 5]

In [132]:
happy = True
print("Happy variable is set to ", happy)

Happy variable is set to  True

In [133]:
print(5 + 5 == 10)
print('apple' != 'orange')
print(100 > 75)
print(93 < 80)
print(3 in [1,2,3,4,5])
print(3 not in [1,2,3,4,5])

True
True
True
False
True
False

In [134]:
print((5 + 5 == 10) & ('apple' != 'orange'))
print((100 > 75) & (93 < 80))
print((100 > 75) | (93 < 80))
print((93 < 80) | (3 not in [1,2,3,4,5]))

True
False
True
False

In [139]:
number = 1

if number < 10:
    print("Number is less than 10")
elif number > 10:
    print("Number is greater than 10")
elif number == 10:
    print("Number is exactly 10")
else:
    print("Number is probably not a number at all")

Number is less than 10

In [142]:
commute = 30
rain = False
traffic = False

if (rain == True) | (traffic == True):
    if (rain == True) & (traffic == True):
        total_commute = commute + 15 + 20
    elif (rain == True) & (traffic == False):
        total_commute = commute + 15
    elif (rain == False) & (traffic == True):
        total_commute = commute + 20
else:
    total_commute = commute

print("Your total commute time is expected to be", total_commute, "minutes.")

Your total commute time is expected to be 30 minutes.

In [143]:
range(10)

range(0, 10)

In [144]:
range(5,15)

range(5, 15)

In [145]:
len(5,15)

TypeError: len() takes exactly one argument (2 given)

In [146]:
len(range(5, 15))

10

In [147]:
for i in range(5,15):
    print(i)

5
6
7
8
9
10
11
12
13
14

In [150]:
fruit = ['apple', 'orange', 'banana', 'grapes', 'pineapple']

In [151]:
for fruit in fruit:
    print(fruit)

apple
orange
banana
grapes
pineapple

In [152]:
ages = {'Brian':23, 'Amy':22, 'Darlene':47, 'Ralph':32, 'Jordan':28, 'Stephanie':35}

In [153]:
for name, age in ages.items():
    print(name,"is", age, "years old")

Brian is 23 years old
Amy is 22 years old
Darlene is 47 years old
Ralph is 32 years old
Jordan is 28 years old
Stephanie is 35 years old

In [154]:
num_list = [34, 12, 93, 783, 330, 896, 1, 55]

In [157]:
total = 0

for i in num_list:
    total+= i
    print ("Total is currently", total)

Total is currently 34
Total is currently 46
Total is currently 139
Total is currently 922
Total is currently 1252
Total is currently 2148
Total is currently 2149
Total is currently 2204

In [158]:
new_list = []

for i in range(1, 11):
    square = i**2
    new_list.append(square)

print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [163]:
total_time = 80
minutes_elapsed = 0
wait = 15

print("Cake is in the oven.")
minutes_elapsed += wait

while minutes_elapsed < total_time:
    print("Cake is not done yet.")
    minutes_elapsed += wait

print("It's done. Let's eat cake!")

Cake is in the oven.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
Cake is not done yet.
It's done. Let's eat cake!

In [165]:
import os

In [166]:
os.getcwd()

'C:\\Users\\Pablo Sivila\\Documents\\Git-e-Github\\Revolution\\Ironhack\\LAB'

In [168]:
os.chdir('/Users/Pablo Sivila/Desktop')
os.getcwd()

'C:\\Users\\Pablo Sivila\\Desktop'

root = 'C:'
level_1 = 'ironhack'
level_2 = 'module_0'
level_3 = 'python-beginner'
level_4 = 'data'

os.path.join(root, level_1, level_2, level_3, level_4)

In [169]:
root = 'C:'
level_1 = 'ironhack'
level_2 = 'module_0'
level_3 = 'python-beginner'
level_4 = 'data'

os.path.join(root, level_1, level_2, level_3, level_4)

'C:ironhack\\module_0\\python-beginner\\data'

In [170]:
folder_name = 'new_folder'

if os.path.exists(folder_name) == False:
    os.makedirs(folder_name)

In [173]:
with open("palmeiras.txt", "w") as f:
    f.write("Hello Bizarre World! \n")
    f.write("How are you? \n")
    f.write("I'm fine.")

In [174]:
with open("palmeiras.txt", "r") as f:
    lines = f.readlines()
    for line in lines:
        print(line)

Hello Bizarre World!

How are you?

I'm fine.

In [175]:
echo `pwd`/`ls weight_height.csv`

`pwd`/`ls weight_height.csv`

In [176]:
`pwd`/`ls weight_height.csv`

SyntaxError: invalid syntax (<ipython-input-176-28fbb072b584>, line 1)

In [177]:
$ echo `pwd`/`ls weight_height.csv`

SyntaxError: invalid syntax (<ipython-input-177-03b86bcd8b17>, line 1)

In [178]:
`pwd`/`ls weight_height.csv`

SyntaxError: invalid syntax (<ipython-input-178-28fbb072b584>, line 1)

In [179]:
weight_height.csv`

SyntaxError: invalid syntax (<ipython-input-179-40c231d39845>, line 1)

In [180]:
ls weight_height.csv`

 Volume in drive C is OS
 Volume Serial Number is A6AE-D537

 Directory of C:\Users\Pablo Sivila\Desktop

File Not Found

In [181]:
os.chdir('/Users/Pablo Sivila/Downloads')
os.getcwd()

'C:\\Users\\Pablo Sivila\\Downloads'

In [182]:
ls weight_height.csv`

 Volume in drive C is OS
 Volume Serial Number is A6AE-D537

 Directory of C:\Users\Pablo Sivila\Downloads

File Not Found

In [183]:
$ echo `pwd`/`ls weight_height.csv`

SyntaxError: invalid syntax (<ipython-input-183-03b86bcd8b17>, line 1)

In [184]:
ls weight_height.csv`

 Volume in drive C is OS
 Volume Serial Number is A6AE-D537

 Directory of C:\Users\Pablo Sivila\Downloads

File Not Found

In [185]:
$ echo `pwd`/`ls weight_height.csv`

SyntaxError: invalid syntax (<ipython-input-185-03b86bcd8b17>, line 1)

In [186]:
ls weight_height.csv`

 Volume in drive C is OS
 Volume Serial Number is A6AE-D537

 Directory of C:\Users\Pablo Sivila\Downloads

File Not Found

In [188]:
data = []

with open("C:\\Users\\Pablo Sivila\\Downloads", "r") as f:
    lines = f.readlines()
    for line in lines:
        data.append(line.split()[0].split(","))

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\Pablo Sivila\\Downloads'

In [204]:
well_height = 125
daily_advance = 30
night_retreat = -20
accumulated_distance = 0
days_overcome = 0

In [205]:
snaihasnotescaped = True

In [208]:
cmperetireday = daily_advance + night_retreat

In [212]:
while snailhasnotescaped:
   accumulated_distance >= cmperetireday
   days_overcome >= 1
   print(days_overcome)
   if totalcm >= well_height
      snailhasnotescaped = False
        
print('Days =', days_overcome)

SyntaxError: invalid syntax (<ipython-input-212-4de878012bdb>, line 5)

In [213]:
x = 30
y = -20

In [214]:
pablo = x + y

In [215]:
print(pablo)

10

In [218]:
num_list = [34, -12, 93, -783, 330, -896, 1, -55]

total = 3

for i in num_list:
    total += i
    print("Total is currently", total)

Total is currently 37
Total is currently 25
Total is currently 118
Total is currently -665
Total is currently -335
Total is currently -1231
Total is currently -1230
Total is currently -1285

In [223]:
number = [10, 20]

total = 15

for i in number:
    total += i
    print("Total is currently", total)

Total is currently 25
Total is currently 45

In [249]:
temp1 = [33,66,65,0,59,60,62,64,70,76,80,69,80,83,68,79,61,53,50,49,53,48,45,39]

In [254]:
for num, i in enumerate(temp1):
    if i >= 70 :
        print ("The temperature is %d at hour %d"%(i,num+1))

The temperature is 70 at hour 9
The temperature is 76 at hour 10
The temperature is 80 at hour 11
The temperature is 80 at hour 13
The temperature is 83 at hour 14
The temperature is 79 at hour 16

In [246]:
temp = [33,66,65,0,59,60,62,64,70,76,80,69,80,83,68,79,61,53,50,49,53,48,45,39]

In [247]:
for num, t in enumerate(temp):
    if t >= 70 :
        print ("The temperature is %d at hour %d"%(t,num+1))
mean = sum(temp)/len(temp)

The temperature is 70 at hour 9
The temperature is 76 at hour 10
The temperature is 80 at hour 11
The temperature is 80 at hour 13
The temperature is 83 at hour 14
The temperature is 79 at hour 16

In [ ]:
# 5.1 Solve the fault in the sensor by estimating a value