# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# import reduce from functools, numpy and pandas
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
def half(x):
    return x/2

In [4]:
l = [10, 12, 34, 23]
map(half, l)

In [6]:
list(map(half,l))

[5.0, 6.0, 17.0, 11.5]

In [7]:
filter(lambda x: x % 2 == 1, l)

In [12]:
list(filter(lambda x: x % 2 == 1, l))

[23]

In [13]:
summation = lambda a, b: a + b

In [15]:
reduce(lambda a, b: a + b, l)

79

In [24]:
p = [4, 8, 6, 10]

In [27]:
reduce(lambda a, b: a + b, p)

28

In [32]:
reduce(lambda a, b: a if a > b else b, l)

34

In [34]:
reduce(lambda a, b: a if a < b else b, p)

4

In [35]:
df = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])

In [36]:
df

          a         b         c
0 -0.944854 -1.400843  1.352440
1  0.489473 -1.327492 -0.355095
2  2.318728 -0.175438  0.036019
3 -0.662968 -0.882132 -2.829522

In [37]:
df.apply(half)

          a         b         c
0 -0.472427 -0.700422  0.676220
1  0.244736 -0.663746 -0.177547
2  1.159364 -0.087719  0.018010
3 -0.331484 -0.441066 -1.414761

In [38]:
def range_func(x):
    return max(x) - min(x)

In [39]:
df.apply(range_func)

a    3.263582
b    1.225406
c    4.181962
dtype: float64

#### Fun fact: 
In 2005, the Python's language author Guido van van Rossum expressed his critics about map(), filter(), and reduce(). He advocated agaist those functions, affirming that loops were more legible and easy to handle. The discussion reached a point of excluding reduce from build-in function, isolating reduce into the functools library.

Source: https://www.artima.com/weblogs/viewpost.jsp?thread=98196

# Challenge 1 - Mapping

#### We will use the map function to clean up some words in a book.

In the following cell, we will read a text file containing the book The Prophet by Kahlil Gibran.

* The book could be downloaded via the this [website](https://www.gutenberg.org/ebooks/58585).
* Our first step is download the data and open it in our Python environment:

In [52]:
# Define the directory location
location = 'theprofet.txt'

In [53]:
# open the file using the open()
with open(location, 'r', encoding="utf8") as f:
    prophet_string = f.read()

* Now, let's divide the string object we just imported based on the space character;
* The method that 'divide' the string is called split()

In [ ]:
print('')

* Can you explain the reason why the type of the element has changed and the number of elements decreased?

#### Let's remove the first 568 words since they contain information about the book but are not part of the book itself. 

Do this by removing from `prophet` elements 0 through 567 of the list (you can also do this by keeping elements 568 through the last element).

* The length of all prophet elements is 13.637. If we drop the first 568 elements, we're expecting to create a new one with 13.069 elements.

If you look through the words, you will find that many words have a reference attached to them. For example, let's look at words 1 through 10.

#### The next step is to create a function that will remove references. 

We will do this by splitting the string on the `{` character and keeping only the part before this character. Write your function below.

In [25]:
def reference(x):
    '''
    Input: A string
    Output: The string with references removed
    
    Example:
    Input: 'the{7}'
    Output: 'the'
    '''
    # Your code here:

* Let's check where the '{' is inside our string -- the one we have imported fist

Now that we have our function, use the `map()` function to apply this function to our book, The Prophet. Return the resulting list to a new list called `prophet_reference`

In [27]:
# Your code here:

Another thing you may have noticed is that some words contain a line break. Let's write a function to split those words. Our function will return the string split on the character `\n`. Write your function in the cell below.

In [29]:
def line_break(x):
    '''
    Input: A string
    Output: A list of strings split on the line break (\n) character
        
    Example:
    Input: 'the\nbeloved'
    Output: ['the', 'beloved']
    '''

Apply the `line_break` function to the `prophet_reference` list. Name the new list `prophet_line`.

If you look at the elements of `prophet_line`, you will see that the function returned lists and not strings. Our list is now a list of lists. Flatten the list using list comprehension. Assign this new list to `prophet_flat`.

# Challenge 2 - Filtering

When printing out a few words from the book, we see that there are words that we may not want to keep if we choose to analyze the corpus of text. Below is a list of words that we would like to get rid of. Create a function that will return false if it contains a word from the list of words specified and true otherwise.

In [32]:
def word_filter(x):
    '''
    Input: A string
    Output: true if the word is not in the specified list and false if the word is in the list
        
    Example:
    word list = ['and', 'the']
    Input: 'and'
    Output: False
    
    Input: 'John'
    Output: True
    '''    
    word_list = ['and', 'the', 'a', 'an']

Use the `filter()` function to filter out the words speficied in the `word_filter()` function. Store the filtered list in the variable `prophet_filter`.

# Challenge 2 - Part 2

Rewrite the `word_filter` function above to not be case sensitive.

In [34]:
def word_filter_case(x):

# Challenge 3 - Reducing

#### Now that we have significantly cleaned up our text corpus, let's use the `reduce()` function to put the words back together into one long string separated by spaces. 

We will start by writing a function that takes two strings and concatenates them together with a space between the two strings.

In [1]:
def concat_space(a, b):
    '''
    Input:Two strings
    Output: A single string separated by a space
        
    Example:
    Input: 'John', 'Smith'
    Output: 'John Smith'
    '''

Use the function above to reduce the text corpus in the list `prophet_filter` into a single string. Assign this new string to the variable `prophet_string`.

# Challenge 4 - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will load a dataset below and then write a function that will perform the transformation.

In [38]:
# Run this code:

# The dataset below contains information about pollution from PM2.5 particles in Beijing 

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pm25 = pd.read_csv(url)

Let's look at the data using the `head()` function.

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [ ]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''

Apply this function to the columns `Iws`, `Is`, and `Ir`. Store this new dataframe in the variable `pm25_hourly`.

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [ ]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    
    # Your code here: