In [15]:
import os

import numpy as np
import pandas as pd

In [37]:
list = []

for i in range(51):
    if i >= 1:
        list.append(i)

print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [47]:
even_numbers = []

for x in range(201):
    if x % 2 == 0 and x >= 2:
        even_numbers.append(x)

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [53]:
a = 10.5

In [54]:
type(a)

float

In [55]:
s = "string. With. Punctuation?"

In [56]:
import string

In [57]:
print s.translate(None, string.punctuation)

SyntaxError: invalid syntax (<ipython-input-57-61fd5b0514fa>, line 1)

In [60]:
#primiro definir função
def list2string(lst):
    string = ' '.join(lst)
    return string
#depois aplicar a função
to_string = ['John', 'was', 'a', 'man', 'of', 'many', 'talents']
list2string(to_string)

'John was a man of many talents'

In [65]:
for i in [1, 2, 3, 4]:
    print(i)

1
2
3
4

In [66]:
for c in "python":
    print(c)

p
y
t
h
o
n

In [ ]:
corpus = ['Ironhack is cool.', 'I love Ironhack.', 'I am a student at Ironhack.']

In [ ]:
for i in corpus:
    if i == '.':
        i = '1'
    corpus.append(i)

In [ ]:
print(corpus)