## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [36]:
tup = ("I")

- Please note that the variable 'a' is a string, not a tuple. In order to return a tuple with one element you should include a comma in the end

In [37]:
tup = "I",

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [38]:
type(tup)

tuple

- You can also use parentheses if the tuple has more than one element

In [39]:
tup = ("I",)

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k",
```

- We already know that tuples are immutable, and so can't change which variables after they were assigned;
- However, we can concatenate or slice them to form new tuples

In [40]:
tupa = ("r", "o", "n", "h", "a", "c", "k",)

bigtup = tup + tupa
print(bigtup)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

###### Your explanation here
* In order to append an element to a tuple, we need to sum up the new data using the plus operator '+'

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [41]:
tup = ('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

print(tup)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

* Tuples are immutable, but still be sliced, concatenated, and so on -- the indexes start at 0, as lists

* Note that we can reach specific elements from a tuple using indexes:
The positive indexes goes from 0 until the length of the tuple
The negative ones start in the oposite side starting from -1 
![title](https://v4.software-carpentry.org/python/slice/014.png)
[Source](https://v4.software-carpentry.org/python/slice.html)

In [53]:
tup1 = tup[:4]
print(tup1)

('I', 'r', 'o', 'n')

In [54]:
tup2 = tup[-4:]
print(tup2)

('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [55]:
tup3 = tup1 +tup2

In [56]:
tup3 == tup

True

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`

In [60]:
len(tup1)

len(tup2)

4

In [61]:
len(tup3) == len(tup1) + len(tup2)

True

#### What is the index number of `"h"` in `tup3`?

In [72]:
tup3.index('h')
print("The index number o h is: ", tup3.index('h'))

The index number o h is:  4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [92]:
letters = ["a", "b", "c", "d", "e"] 

tup4 = []

for i in letters:
    if i in tup3:
        tup4.append("True")
    else:
        tup4.append("False")
        
print(tup4)

['True', 'False', 'True', 'False', 'False']

In [93]:
tup4 = [True if i in tup3 else False for i in letters]

In [94]:
print(tup4)

[True, False, True, False, False]

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [95]:
tup4.count(True)

2