In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data = pd.read_csv('results.csv')
data.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40945 entries, 0 to 40944
Data columns (total 9 columns):
date          40945 non-null object
home_team     40945 non-null object
away_team     40945 non-null object
home_score    40945 non-null int64
away_score    40945 non-null int64
tournament    40945 non-null object
city          40945 non-null object
country       40945 non-null object
neutral       40945 non-null bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.5+ MB

In [7]:
data["date"] = pd.to_datetime(data["date"])
data["date_month"] = data["date"].dt.month
data["date_month"].value_counts().sort_index()

1     2204
2     2564
3     4018
4     2528
5     3233
6     5957
7     2755
8     2737
9     4170
10    4440
11    4079
12    2260
Name: date_month, dtype: int64

In [12]:
data["date_year"] = data["date"].dt.year
data["date_year"]

0        1872
1        1873
2        1874
3        1875
4        1876
5        1876
6        1877
7        1877
8        1878
9        1878
10       1879
11       1879
12       1879
13       1880
14       1880
15       1880
16       1881
17       1881
18       1881
19       1882
20       1882
21       1882
22       1882
23       1882
24       1883
25       1883
26       1883
27       1883
28       1883
29       1884
         ...
40915    2019
40916    2019
40917    2019
40918    2019
40919    2019
40920    2019
40921    2019
40922    2019
40923    2019
40924    2019
40925    2019
40926    2019
40927    2019
40928    2019
40929    2019
40930    2019
40931    2019
40932    2019
40933    2019
40934    2019
40935    2019
40936    2019
40937    2019
40938    2019
40939    2019
40940    2019
40941    2019
40942    2019
40943    2019
40944    2019
Name: date_year, Length: 40945, dtype: int64

In [ ]:
year = data[data["date_year"]==6]
june = june[june["tournament"].isin(june["tournament"].value_counts().head(7).index)]
plt.figure(figsize=(20,5))
sns.countplot(data=june,x="tournament")
plt.show()

In [15]:
["tournament"].isin(june["tournament"].value_counts().head(7).index)]

SyntaxError: invalid syntax (<ipython-input-15-631b2db60ff8>, line 1)

##FAZER UMA ANALISE DE CORRELAÇAO ENTRE OS RESULTADOS DE UMA SELEÇAO DE 8 ANOS ANTES DA CONQUISTA DE UMA COPA DO MUNDO

In [ ]:
#NUMERO DE VITORIAS, TORNEIOS VENCIDOS

#QUAL É O MELHOR TIME EM CONFORNTOS INTERNACIONAIS DA HISTORIA. O BRASIL É REALMENTE O MAIS BEM SUCEDIDO?

#