In [ ]:
print('Hello Jupyter!')

In [ ]:
name = input("Enter your name: ")
print("Hello", name)

In [ ]:
print("Pablo")

In [ ]:
name

In [1]:
print("Hello World")

Hello World

In [2]:
prnt("Hello World")

NameError: name 'prnt' is not defined

In [3]:
6 + 4

10

In [4]:
100 - 80

20

In [5]:
9 * 8

72

In [6]:
200 / 24

8.333333333333334

In [7]:
8**4

4096

In [8]:
#test
9 * 8

72

In [9]:
"""
These

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-9-5fdb317a99aa>, line 2)

In [10]:
"""

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-10-e4615a684824>, line 1)

In [11]:
"""
These
are
the 
days
"""
print("hello")

hello

In [12]:
type("Palmeiras")

str

In [13]:
type("123")

str

In [14]:
Type(123)

NameError: name 'Type' is not defined

In [15]:
type(123)

int

In [16]:
type(98.6)

float

In [17]:
"Hello " + "everyone!"

'Hello everyone!'

In [18]:
"Hello " * 8

'Hello Hello Hello Hello Hello Hello Hello Hello '

In [19]:
str(586)

'586'

In [20]:
float(137)

137.0

In [21]:
int(596.89)

596

In [22]:
int("42")

42

In [23]:
int("42.97")

ValueError: invalid literal for int() with base 10: '42.97'

In [24]:
int(float("42.97"))

42

In [25]:
x = 4
y = 5
x + y

9

In [26]:
z = x + y
print(z)

9

In [27]:
z * y

45

In [28]:
dogs = 40
cats = 25
rabbits = 10

shelter_lenght = 30
shelter_width = 25

total_animals = dogs + cats + rabbits

In [33]:
caes = 40
gatos = 25
coelhos = 10

comprimento_abrigo = 30
largura_abrigo = 25

total_de_animais = caes + gatos + coelhos
area = comprimento_abrigo * largura_abrigo

print("numero total de animais:", total_de_animais)

numero total de animais: 75

In [35]:
print("Total do abrigo em metros quadrados:", area)

Total do abrigo em metros quadrados: 750

In [36]:
print("Metros quadrados por animal:", area/total_de_animais)

Metros quadrados por animal: 10.0

In [39]:
first_name = input("Enter your first name: ")
Enter your first name: Pablo
    
print("Hello,", first_name)

SyntaxError: invalid syntax (<ipython-input-39-58843e264fb5>, line 2)

In [41]:
first_name = input("Enter your first name: ")
Enter your first name: Pablo
    
print("Hello,", first_name)

SyntaxError: invalid syntax (<ipython-input-41-1bf53693ad75>, line 2)

In [42]:
caes = int(input("Enter the number of dogs: "))

Enter the number of dogs: 30

In [44]:
gatos = int(input("Enter the number of cats: "))

Enter the number of cats: 50

In [45]:
coelhos = int(input("Enter the number of rabbits: "))

Enter the number of rabbits: 0

In [46]:
comprimento_abrigo = int(input("Enter the shelter lenght: "))

Enter the shelter lenght: 40

In [47]:
largura_abrigo = int(input("Enter the shelter width: " ))

Enter the shelter width: 20

In [50]:
total_animals = caes + gatos + coelhos
sqft = comprimento_abrigo * largura_abrigo

print("Total number of animals:", total_animals)

Total number of animals: 80

In [51]:
print("Total shelter square feet:", sqft)

Total shelter square feet: 800

In [52]:
print("Square feet per animal:", sqft/total_animals)

Square feet per animal: 10.0

In [53]:
len("palmeiras")

9

In [58]:
word = "palmeiras"
word[8]

's'

In [59]:
len("Pablo")

5

In [60]:
word[2]

'l'

In [66]:
len("Pablo")
word[3]

'm'

In [67]:
word = "Pablo"
word[2]

'b'

In [68]:
word[-1]

'o'

In [69]:
word = "palmeiras"

In [70]:
word[:4]

'palm'

In [71]:
word[4:]

'eiras'

In [72]:
word[3:8]

'meira'

In [73]:
lst = ['the', 'man', 'who', 'sold', 'the', 'world']
lst[0]

'the'

In [74]:
lst[1]

'man'

In [75]:
lst[-1]

'world'

In [76]:
lst[2:4]

['who', 'sold']

In [77]:
lst[3:5]

['sold', 'the']

In [78]:
lst.append('bowie')
lst

['the', 'man', 'who', 'sold', 'the', 'world', 'bowie']

In [87]:
lst.remove('man')
lst

['who', 'world']

In [88]:
lst2 = ['belle', 'and', 'sebastian']
comb_list = lst + lst2
comb_list

['who', 'world', 'belle', 'and', 'sebastian']

In [89]:
nested = [['a', 'man'], ['a', 'plan'], ['a', 'canal'], ['Panama', '!']]
nested[0]

['a', 'man']

In [90]:
nested[0][0]

'a'

In [91]:
nested[0][1]

'man'

In [92]:
nested[-1][0]

'Panama'

In [93]:
num_list = [4, 8, 16, 22, 42]
#sum
sum(num_list)

92

In [94]:
#mean
sum(num_list)/len(num_list)

18.4

In [95]:
#minimum
min(num_list)

4

In [97]:
#maximum
max(num_list)

42

In [99]:
#sort ascending
num_list.sort()
num_list

[4, 8, 16, 22, 42]

#sort descending
num_list.sort()
num_list

In [100]:
#sort descending
num_list.sort(reverse=True)
num_list

[42, 22, 16, 8, 4]

In [101]:
#reversing
num_list.reverse()
num_list

[4, 8, 16, 22, 42]

In [102]:
ages = {'Pablo':23, 'Lais':22, 'Evie':20, 'Marcella':18}

In [105]:
ages['Pablo']

TypeError: list indices must be integers or slices, not str

In [106]:
ages = {'Pablo':23, 'Lais':22, 'Evie':20, 'Marcella':18}

In [108]:
ages['Pablo']

23

In [109]:
ages['Lais']

22

In [110]:
ages.keys()

dict_keys(['Pablo', 'Lais', 'Evie', 'Marcella'])

In [111]:
ages.values()

dict_values([23, 22, 20, 18])

In [113]:
ages['Vanessa'] = 25
ages

{'Pablo': 23, 'Lais': 22, 'Evie': 20, 'Marcella': 18, 'Vanessa': 25}

In [115]:
del ages['Vanessa']

KeyError: 'Vanessa'

In [116]:
ages.keys()

dict_keys(['Pablo', 'Lais', 'Evie', 'Marcella'])

In [118]:
ages['Vanessa'] = 25

In [119]:
ages.keys()

dict_keys(['Pablo', 'Lais', 'Evie', 'Marcella', 'Vanessa'])

In [120]:
ages

{'Pablo': 23, 'Lais': 22, 'Evie': 20, 'Marcella': 18, 'Vanessa': 25}

In [121]:
a = [1,2,3,4,5]
b = (1,2,3,4,5)

In [122]:
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [123]:
b.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [124]:
a.remove(2)
a

[1, 3, 4, 5, 6]

In [125]:
b.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'

In [126]:
a.sort()
a

[1, 3, 4, 5, 6]

In [127]:
b.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [128]:
tuple(a)

(1, 3, 4, 5, 6)

In [129]:
list(b)

[1, 2, 3, 4, 5]

In [130]:
dupe_list = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
uniques = set(dupe_list)
uniques

{1, 2, 3, 4, 5}

In [131]:
list(uniques)

[1, 2, 3, 4, 5]